 {% extends 'app/base.html' %}
 {% load static %}
 {% block content %}
    
 



<main class="content">
   <aside class="sidebar">
       <h3>Products</h3>
       <ul>
           <li>   Custom Product Builder  </li>
           <li>   Custom Boxes   </li>
           <li>   Custom Stickers   </li>
           <li>   Custom Labels  </li>
           <li>   Custom Postcards  </li>
           <li>   Promotional Items </li>
           <li>   Aluminum Signs </li>
       </ul>
   </aside>


   <h2> Print it Your Way! </h2>
   
</main>

{% endblock content %}