{% extends 'app/base.html' %}

{% block content %}

<div class="container">
    <section class="account-info">
        <h2 class="h2wo">Your Information</h2>
        <p><strong>Name:</strong> {{ user_name }}</p>
        <p><strong>Email:</strong> {{ user_email }}</p>
        <p><strong>Phone:</strong> {{ user_phone }}</p>
    </section>
    
   
</div>
<br><br><br>
<form action="{% url 'logout' %}" method="post" style="display: inline;">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Logout</button>
</form>

{% endblock %}
